
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    button{
        cursor: pointer;
    }
}


.table-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    table{
        margin-top: 1em;
        border-collapse: collapse;
        thead{
            font-weight: 600;
            text-align: center;
        }
        td{
            padding: .2em;
        }
    }
}

.create-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        width: 10em;
        height: 2em;
    }
}


.popup-create{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    border: 1px solid black;
    background-color: white;
    z-index: 9999;
    form{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@for $i from 1 to 6 {
    .p-#{$i}{
      padding: #{$i * 1}em;  
    } 
}

$primary-color: black;

@mixin button-style {
    width: 13em;
    height: 2em;
    margin-top: 1em;
    background-color: $primary-color;
    color: antiquewhite;
    &:hover{
        background-color: red;
        color: yellow;
    }
}


.popup-create{
    button{
        @include button-style();
    }
}

